body {
  background: linear-gradient(#000,#111);
  color: #fff;
}

#rl {
  background-color: #000;
  border: 1px solid #444;
  border-bottom-right-radius: 2em;
  margin-right: 1em;
  opacity: 0.8;
}

.nav-item {
  position: relative;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  opacity: 0.5;
  transition : 0.5s;
  margin-left: 5px;
  margin-top: 5px;
}

.nav-item:hover {
  opacity: 1;
  width: 2.1em;
  height: 2.1em;
}

canvas {
  border-radius: 1em;
  border: 1px solid #444;
  margin-top: 2%;
}

.bottnav {
  top: 50%;
  right: 95%;
  position: absolute;
  border: 1px solid darkred;
  width: 95%;
  height: 10%;
  background-color: #000;
  border-top-right-radius: 1em;
  transition: 1.5s;
}

.bottnav:hover {
  right: 0%;
}

.bottnav .nav-item {
  width: 3em;
  height: 3em;
}

.bottnav .nav-item:hover {
  width: 3.1em;
  height: 3.1em;
}

.sidenav {
  position: absolute;
  display: block;
  width: 100px;
  left: 100%;
  top: 0%;
  opacity: 0;
  transition: 1s;
}
.sidenav button {
  background: linear-gradient(#000,#111);
  border: 1px solid #444;
  border-radius: 1em;
  color: #789;
  text-shadow: 1px 1px #222;
}

.sidenav button: hover {
  border: 1px solid darkred;
}